@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,900&display=swap");

.cointenerHeader{
    background: #C4D600;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 0px;
    justify-content: center;
}
.appName{
    font-family: 'Roboto Slab';
    font-size: 30px;
    color: #95006D;
    margin-left:40px ;
}
.buttonLogOut{
    display: grid;
    justify-items: end;

}
