@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,900&display=swap");


.cointenerTest{
    text-align: center;
    height: 100%;
}
.title{
    font-family: 'Roboto Slab';
    font-size: 30px;
    color: #95006D;
}